.App {
  margin: auto;
  width: 100vw;
  height: 100vh;
  color: #0d2752;
}

.Header {
  height: 33vw;
  padding-left: 2.5vw;
}

.message {
  font-size: 12vw;
}

.reset {
  padding: 0.5rem 1rem;
  font-size: 6vw;
  border: none;
  border-radius: 0.25rem;
  background-color: #4d93ad;
  color: #0d2752;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-evenly;
  height: 33vw;
  width: 100%;
}

.Square {
  height: 93%;
  width: 30%;
  background-color: #4d93ad;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.icon {
  width: 100%;
}

@media (orientation: landscape) {
  .App {
    width: 75vh;
  }

  .Header {
    height: 25vh;
    padding-left: 2vh;
  }

  .row {
    height: 25vh;
  }

  .message {
    font-size: 9vh;
  }

  .reset {
    font-size: 4vh;
  }
}
