.App {
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.Header {
  height: 33vw;
  padding-left: 1rem;
}

.message {
  font-size: 12vw;
}

.reset {
  padding: 0 1vw;
  line-height: 1.5;
  font-size: 4vw;
  font-weight: lighter;
}

.row {
  display: flex;
  justify-content: space-evenly;
  height: 33vw;
  width: 100%;
}

.Square {
  height: 93%;
  width: 30%;
  background-color: white;
  border: none;
}

.icon {
  height: 100%;
}

@media (orientation: landscape) {
  .App {
    width: 75vh;
  }

  .Header {
    height: 25vh;
  }

  .row {
    height: 25vh;
  }

  .message {
    font-size: 9vh;
  }

  .reset {
    padding: 0 1vh;
    line-height: 1.5;
    font-size: 3vh;
  }
}
